<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This app was created by Ademuyiwa Joy. It uses data from openweather and weatherstack.</p>
        <img class="portrait" src="/img/c64409e3d1fcdb599c59978d60507e18.jpg">
    </div>
    
    {{>footer}}
</body>

</html>